
name: example-workflow
on: [ push ]

env:
  TARGET_BRANCH: ${{ github.ref_name }}
  
jobs:
  production-deploy:
    if: github.ref_name == 'production'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "This is Production"
      - run: hostname
      - run: echo ${{ env.TARGET_BRANCH }}
      - run: echo "PRINT ${{ github.ref_name }}"
  main:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    container:
      image: composer:2
      options:
        --workdir /var/www/html
    steps:
      - uses: actions/checkout@v3
      - run: hostname
      - run: echo "This is Main"
      - run: echo "${{ env.TARGET_BRANCH }}"
      - run: echo "PRINT ${{ github.ref_name }}"
      - run: echo "${{ toJson(github) }}"
      - run: ls -alh
      - run: pwd
      # - run: |
      #     apk update && apk add --no-cache ldb-dev libldap openldap-dev
      #     apk add --no-cache libjpeg-turbo-dev libpng-dev libwebp-dev freetype-dev
      #     docker-php-ext-install pdo pdo_mysql bcmath ldap gd
      #     composer config http-basic.nova.laravel.com amar.basic@ebdaa.ae NELnZbvh71coTUGzZmf52x3E88AXz56bvpPPZCa4
      #     composer install
      #   continue-on-error: true
      - run: |
          echo "after"
          ls -alh
          du -sh 
      # - name: Checkout private tools
      #   uses: actions/checkout@v3
      #   with:
      #     repository: cyberarrow-io/grc-dock
      #     token: ${{ secrets.GH_PAT }} # `GH_PAT` is a secret that contains your PAT
      #     path: grc
      - name: dockerbuild
        uses: ./.github/actions/dockerbuild