
name: example-workflow
on: [push]

env:
  TARGET_BRANCH: ${{ github.ref_name }}

jobs:
  production-deploy:
    #if: github.ref == 'production'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "This is Production"
      - run: echo ${{ env.TARGET_BRANCH }}
      - run: echo "PRINT ${{ github.ref_name }}"



